// COLORS
$primary-color: #BB5F75; //pink-purples - cinnamon satin
$secondary-color: #703571; //pink-purples - violet crayola

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$background-color: #FFFFFF; //white

$dark-grey: #333333;

$white-color: #FFFFFF; 

$black-text: #0A0A0A; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
